body{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 100%;
    }
    li{
        display: inline-block;
        padding: 50px;
    }
    .header{
            position: relative;
            z-index: 0;
            background: rgb(235, 235, 235);
            padding-bottom: 40px;
    }
    .header:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: circle(42.7% at 70% 0);
        opacity: 1;
        background-color:  #649549
        
    }

    .section1{
        margin: 50px;
    }
    h1{
        text-align: center;
        
    }
    .content1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.together{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.menu{
    background-color: rgb(235, 235, 235);
}
#menucontent{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.burgertype{
    background-color: white;
    border-style: none;
    border-bottom-right-radius: 70px;
    text-align: right;
    padding: 10px;
    margin: 70px;
}
.deal-section{
    background-color: #C9ECB5;
}
.merge{
    position: relative;
}
.img1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.img2{
    position: absolute;
    top: 250px;
    left: 10px;
    z-index: 3;
}
.deals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}
.contact{
    background-color: #FFD77C;
    text-align: center;
    margin-bottom: 50px;
   
}
.footer{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;    
}
#time{
    border-right-style: dashed;
    border-color: #6CB840;
    padding: 20px;
}
button{
    background-color:#6CB840 ;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 30px;
}


   
