body{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 150%;
    }
    li{
        display: inline-block;
        padding: 20px;
    }
    .header{
        background-color: lightgray;
    }
    .section1{
        margin: 50px;
    }
    h1{
        text-align: center;
        
    }

.together{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.menu{
    background-color: rgb(235, 235, 235);
}
#menucontent{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.burgertype{
    background-color: white;
    border-style: none;
    border-bottom-right-radius: 70px;
    text-align: right;
    padding: 10px;
    margin: 70px;
}
.deal-section{
    background-color: #C9ECB5;
}
.deals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.contact{
    background-color: #FFD77C;
    text-align: center;
    margin-bottom: 50px;
   
}
.footer{
    background-color: #C9ECB5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;    
}
#time{
    border-right-style: dashed;
    border-color: #6CB840;
    padding: 20px;
}
button{
    background-color:#6CB840 ;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 30px;
}
.merge .img1{
    position:relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.merge .img2{
    position: absolute;
    top: 25px;
    left: 25px;
   
}
    
